* {
    margin: 0;
    padding: 0;
    border: 0;
  }

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.top > h1 {
  font-size: 3em;
}

.mid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
}

.mid1 {
  flex: 0 0 25%;
}

.mid1Top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

.day-night{
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.day-night > img {
  width: 75%;
  height: auto;
  display: block;
  object-fit: cover;
}

.date-time{
  flex: 0 0 60%; 
}

.mid1mid {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid1btm {
  width: 100%;
  height: 57vh;
  overflow-y: auto;
}

.hourlyData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.hourlyData img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 5px;
}


.mid2 {
  flex: 0 0 75%;
}

.mid2Top {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location img {
  height: auto;
  width: 50px;
  display: inline-block;
  padding-right: 10px;
}

.location div {
  display: inline-block;
}

.location div h2 {
  font-size: 2em;
}

.location div p {
  font-size: 1.5em;
}

.yourLocation img {
  width: 70px;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigation input[type="text"] {
  padding: 12px 15px;
  width: 300px;
  border: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
}

.navigation input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.navigation button {
  padding: 12px 20px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navigation button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.mid2Mid {
  width: 100%;
  height: 34vh;
}

.mid2Btm {
  width: 100%;
  height: 34vh;
}